
@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  width: 100vw;
  background-color: #FBEAD0;
  background-image: 
  url('./assets/flowerTexture.svg');
  background-repeat: repeat;
  background-position: -25px 0;
  background-size: 3vw;
  margin: 0;
  font-family: Inter, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@grid: 1 / 100% 240px;



@media (min-width: 600px) {
  .section1 {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .buy-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section1 img {
    translate: 0 10vh;
    max-height: 80vh;
  }

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 0.8em;
    margin-bottom: 15px
  }

}
@media (max-width: 600px) {
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10%;
    gap: 4rem;
    color: #fbead0;
    padding-block: 20px;
  }
  .buy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .section1 img {
    max-width: 85%;
    margin: 20px;
    box-shadow: 15px 0px 20px -5px black
  }
  
  .content {
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2em;
  }

  ul {
    text-align: center;
    margin-top: 15px;
  }

}

.section1 {
  background-color: #AC7E46;
  padding-inline: 10%;
  gap: 4rem;
  color: #fbead0;
}



h1 {
  font-family: "Bookman Old Style", Georgia, serif; 
  font-weight: 600;
}

p {
  font-family: 'Inter', sans-serif;
}

a {
  background-color: #FBEAD0;
  border: none;
  border-radius: 50px;
  font-size:1.5em;
  color: #AC7E46;
  padding-inline: 1em;
  margin: 20px
}

a:active {
  box-shadow: inset 0 0 5px #AC7E46;
  translate: 1px 1px;
}
a:hover  {
  border: 1px solid gray
}


